.pageTitle {
    border-bottom: 2px solid #e3e3e3;
    padding: 10px;
    font-size: 18px;
}

.pageTitle a {
    float: right;
    padding-right: 10px;
    color: black;
}

#divNotes {
    margin-top: 15px;
}

.btnCancel {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    cursor: pointer;
}